---
import { Icon, Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

//const headings = [
  //{ depth: 2, slug: 'hobbies', text: 'Hobbies' },
  //{ depth: 2, slug: 'tools', text: 'Tools' },
  //{ depth: 2, slug: 'social-networks', text: 'Social Networks' },
  //{ depth: 2, slug: 'gossips', text: 'Gossips' },
  //{ depth: 2, slug: 'about-blog', text: 'About Blog' }
//]
---

<PageLayout title='关于我' comment>

  <p>一名普通的学生，现在就读于莫斯科鲍曼国立技术大学，专业为运载火箭及航天器总体设计，只是一名力学，数学和俄语的初学者。</p>
  
  <p>搭建这个网站主要目的是记录自己的学习历程及一些笔记。</p>
 <!--
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />
 -->
 <!--
  {/* general-talk */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
     {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      }
    ]}
  />
-->
  {/* social-networks */}
  <h2 id='social-networks'>联系方式</h2>
  <p>
    如有问题，请通过以下方式联系。
  </p>    
  <Icon name='email' class='inline' /> 
  <a href="mailto:zhou.zhiyuan@mail.ru" class="no-underline">电子邮件</a>
  <!--<Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/cworld1'
      },
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/cworld1',
        text: 'followers',
        api: 'github/cworld1'
      },
      {
        platform: 'Telegram',
        icon: 'telegram',
        color: '#2ca5e0',
        link: 'https://t.me/cworld0_cn',
        text: 'subscribers',
        api: 'telegram/cworld0_cn'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/id/cworld',
        text: 'games',
        api: 'steamgames/76561199021278120'
      }
    ]}
  />-->


  {/* about-blog */}
  <h2 id='about-blog'>关于网站</h2>
  <p>网站搭建历史:</p>
<Collapse title = '网站历史:'> 

 <Timeline
    events={[
      {
        date: '2025-12-01',
        content:
          '网站使用主题 <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>'
      }
    ]}
  />

</Collapse>

  <p>
    <!--The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:-->
    本网站之顺畅运行与个性化定制，实仰赖于以下优秀项目及服务商所供之资源与技术：
  </p>
  <ul>
    <!--<li>Domain: <a href='#' target='_blank'>Vercel</a></li>--> 
    <li>
    域名：<a href='https://cloud.tencent.com/' target='_blank'>腾讯云</a>
    </li>
    <li>
      网站托管: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      框架及主题: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <!--
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <!--<li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>-->
    <li>
      访问数据统计: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <!--
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>--> 
  </ul>
</PageLayout>
